* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",   "Segoe UI Symbol";
    /* border: 1px solid red; */
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}


header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: sticky;
    top: 0px;

    grid-column: 2 / 3;
}
nav {
    grid-row: 1 / 3;

    background-color: rgb(33, 150, 243);
}
main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;

    background-color: rgb(207, 211, 218);
}

.headerMenu {
    padding: 15px;

    display: flex;
    gap: 20px;
    flex-direction: column;
}
.headerSigment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accountArea {
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.accountImg {
    width: 74px;
    height: 74px;
}
.accountArea span {
    font-size: 14px;
}

input {
    width: 900px;

    padding: 8px;

    border: none;
    border-radius: 8px;

    background-color: rgb(207, 211, 218);
}

button {
    font-size: 18px;

    background-color: rgb(33, 150, 243);

    border: none;
    border-radius: 40px;

    padding: 10px 40px;
    margin: 0 10px;
}
button > a {
    color: rgb(255, 255, 255);
}

section > h1 {
    padding: 30px 15px 0 15px;
}
.sticky > h1 {
    padding: 2px 15px 0 15px;
}

nav * {
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
}
nav a {
    display: flex;
    gap: 15px;
    align-items: center;
}
nav svg {
    width: 30px;
    height: 30px;
}
nav div {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.navMenu {
    position: sticky;
    top: 0px;

    padding: 20px;

    display: flex;
    gap: 70px;
    flex-direction: column;
}

.logo a {
    font-size: 24px;
}
.logo svg {
    width: 50px;
    height: 50px;
}






.cardSpace {
    padding: 15px 15px;

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    border-left: 15px solid rgb(255, 193, 7);
    padding: 24px 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    height: 250px;

    display: flex;
    flex-direction: column;
}
.card > *:last-child {
    margin-top: auto;
}
.interactionMenu {
    display: flex;
    gap: 20px;
    justify-content: end;
}
.interactionMenu > a > img {
    width: 24px;
    height: 24px;
}

p {
    font-size: 18px;
    color: rgb(100, 100, 100);
}

svg {
    width: 24px;
    height: 24px;
}

.sticky {
    max-height: 100vh;

    padding-right: 40px;

    position: sticky;
    top: 202px;
}

.sideCardArea {
    padding: 20px;
    margin: 15px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    gap: 20px;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.sideCard {
    font-size: 14px;

    border-bottom: 2px solid rgb(100, 100, 100);
    padding-bottom: 20px;
}
.sideCard > a > p {
    font-size: 14px;
}
.sideCard > a > h2 {
    font-size: 16px;
}

.trendingCard {
    display: flex;
    gap: 10px;
}
.trendingCard > h2 {
    font-size: 14px;
}

img {
    width: 42px;
    height: 42px;
}